@font-face {
 font-family: 'Butler';
 src: url(/fonts/Butler/Butlerultralight.woff2);
 font-weight: 200;
}

@font-face {
 font-family: 'Butler';
 src: url(/fonts/Butler/Butlerlight.woff2);
 font-weight: 300;
}

@font-face {
 font-family: 'Butler';
 src: url(/fonts/Butler/Butlermedium.woff2);
 font-weight: 500;
}
:root {
 font-size: 16px;
 line-height: 1.2;
}

body {
 font-family: 'Roboto', Arial, Helvetica, sans-serif;
 font-size: 1rem;
 line-height: 1.16;
}

.blockquote {
 font-family: 'Butler', Arial, Helvetica, sans-serif;
 font-size: 2rem;
 font-weight: 200;
}

.title {
 font-family: 'Butler', Arial, Helvetica, sans-serif;
 font-size: 5.75rem;
 font-weight: 300;
}
